/* Zuppuccin Mauve userContent.css */

@media (prefers-color-scheme: light) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #4e4e69 !important;
      --color-accent-primary: #7e6695 !important;
      --color-accent-primary-hover: rgb(150, 125, 175) !important;
      --color-accent-primary-active: rgb(175, 148, 200) !important;
      background-color: #eff1f5 !important;
      --in-content-page-background: #eff1f5 !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #eff1f5 !important;
      --newtab-background-color-secondary: #cdd0da !important;
      --newtab-element-hover-color: #cdd0da !important;
      --newtab-text-primary-color: #4e4e69 !important;
      --newtab-wordmark-color: #4e4e69 !important;
      --newtab-primary-action-background: #7e6695 !important;
    }

    .icon {
      color: #7e6695 !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-zuppuccin-latte.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #7e6695 !important;
    }

    .top-site-outer .search-topsite {
      background-color: #605af3 !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #00a25a !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #e7e9ef !important;
      --in-content-text-color: #4e4e69 !important;
      --link-color: #7e6695 !important;
      --link-color-hover: rgb(150, 125, 175) !important;
      --zen-colors-primary: #cdd0da !important;
      --in-content-box-background: #cdd0da !important;
      --zen-primary-color: #7e6695 !important;
    }

    groupbox, moz-card {
      background: #eff1f5 !important;
    }

    button,
    groupbox menulist {
      background: #cdd0da !important;
      color: #4e4e69 !important;
    }

    .main-content {
      background-color: #dde0e8 !important;
    }

    .identity-color-blue {
      --identity-tab-color: #9eaffd !important;
      --identity-icon-color: #9eaffd !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #92e1e4 !important;
      --identity-icon-color: #92e1e4 !important;
    }

    .identity-color-green {
      --identity-tab-color: #93e5b6 !important;
      --identity-icon-color: #93e5b6 !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #ffdfb8 !important;
      --identity-icon-color: #ffdfb8 !important;
    }

    .identity-color-orange {
      --identity-tab-color: #feb097 !important;
      --identity-icon-color: #feb097 !important;
    }

    .identity-color-red {
      --identity-tab-color: #ea8dc1 !important;
      --identity-icon-color: #ea8dc1 !important;
    }

    .identity-color-pink {
      --identity-tab-color: #ecc4f0 !important;
      --identity-icon-color: #ecc4f0 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #c7abdf !important;
      --identity-icon-color: #c7abdf !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #e7e9ef !important;
      --background-color-box: #eff1f5 !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #eff1f5 !important;
      --social-color: #7e6695 !important;
      --coockie-color: #4a9ff1 !important;
      --fingerprinter-color: #eb863a !important;
      --cryptominer-color: #927ef9 !important;
      --tracker-color: #00a25a !important;
      --in-content-primary-button-background-hover: rgb(205, 208, 218) !important;
      --in-content-primary-button-text-color-hover: #4e4e69 !important;
      --in-content-primary-button-background: #bdc0cc !important;
      --in-content-primary-button-text-color: #4e4e69 !important;
    }

    .card {
      background-color: #cdd0da !important;
    }
  }
}

@media (prefers-color-scheme: dark) {

  /* Common variables affecting all pages */
  @-moz-document url-prefix("about:") {
    :root {
      --in-content-page-color: #cfd5f4 !important;
      --color-accent-primary: #c7abdf !important;
      --color-accent-primary-hover: rgb(215, 190, 235) !important;
      --color-accent-primary-active: rgb(225, 205, 245) !important;
      background-color: #1f1e2e !important;
      --in-content-page-background: #1f1e2e !important;
    }

  }

  /* Variables and styles specific to about:newtab and about:home */
  @-moz-document url("about:newtab"), url("about:home") {

    :root {
      --newtab-background-color: #1f1e2e !important;
      --newtab-background-color-secondary: #323244 !important;
      --newtab-element-hover-color: #323244 !important;
      --newtab-text-primary-color: #cfd5f4 !important;
      --newtab-wordmark-color: #cfd5f4 !important;
      --newtab-primary-action-background: #c7abdf !important;
    }

    .icon {
      color: #c7abdf !important;
    }

    .search-wrapper .logo-and-wordmark .logo {
      background: url("zen-logo-zuppuccin-mocha.svg") no-repeat center !important;
      display: inline-block !important;
      height: 82px !important;
      width: 82px !important;
      background-size: 82px !important;
    }

    @media (max-width: 609px) {
      .search-wrapper .logo-and-wordmark .logo {
        background-size: 64px !important;
        height: 64px !important;
        width: 64px !important;
      }
    }

    .card-outer:is(:hover, :focus, .active):not(.placeholder) .card-title {
      color: #c7abdf !important;
    }

    .top-site-outer .search-topsite {
      background-color: #9eaffd !important;
    }

    .compact-cards .card-outer .card-context .card-context-icon.icon-download {
      fill: #93e5b6 !important;
    }
  }

  /* Variables and styles specific to about:preferences */
  @-moz-document url-prefix("about:preferences") {
    :root {
      --zen-colors-tertiary: #191825 !important;
      --in-content-text-color: #cfd5f4 !important;
      --link-color: #c7abdf !important;
      --link-color-hover: rgb(215, 190, 235) !important;
      --zen-colors-primary: #323244 !important;
      --in-content-box-background: #323244 !important;
      --zen-primary-color: #c7abdf !important;
    }

    groupbox, moz-card {
      background: #1f1e2e !important;
    }

    button,
    groupbox menulist {
      background: #323244 !important;
      color: #cfd5f4 !important;
    }

    .main-content {
      background-color: #12111b !important;
    }

    .identity-color-blue {
      --identity-tab-color: #605af3 !important;
      --identity-icon-color: #605af3 !important;
    }

    .identity-color-turquoise {
      --identity-tab-color: #2390a7 !important;
      --identity-icon-color: #2390a7 !important;
    }

    .identity-color-green {
      --identity-tab-color: #00a25a !important;
      --identity-icon-color: #00a25a !important;
    }

    .identity-color-yellow {
      --identity-tab-color: #eb863a !important;
      --identity-icon-color: #eb863a !important;
    }

    .identity-color-orange {
      --identity-tab-color: #ff6050 !important;
      --identity-icon-color: #ff6050 !important;
    }

    .identity-color-red {
      --identity-tab-color: #cf0068 !important;
      --identity-icon-color: #cf0068 !important;
    }

    .identity-color-pink {
      --identity-tab-color: #d97ce7 !important;
      --identity-icon-color: #d97ce7 !important;
    }

    .identity-color-purple {
      --identity-tab-color: #7e6695 !important;
      --identity-icon-color: #7e6695 !important;
    }
  }

  /* Variables and styles specific to about:addons */
  @-moz-document url-prefix("about:addons") {
    :root {
      --zen-dark-color-mix-base: #191825 !important;
      --background-color-box: #1f1e2e !important;
    }
  }

  /* Variables and styles specific to about:protections */
  @-moz-document url-prefix("about:protections") {
    :root {
      --zen-primary-color: #1f1e2e !important;
      --social-color: #c7abdf !important;
      --coockie-color: #92e1e4 !important;
      --fingerprinter-color: #ffdfb8 !important;
      --cryptominer-color: #c4b9fc !important;
      --tracker-color: #93e5b6 !important;
      --in-content-primary-button-background-hover: rgb(90, 91, 112) !important;
      --in-content-primary-button-text-color-hover: #cfd5f4 !important;
      --in-content-primary-button-background: #47475a !important;
      --in-content-primary-button-text-color: #cfd5f4 !important;
    }

    .card {
      background-color: #323244 !important;
    }
  }
}
